[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
elasticsearch = "==7.0.2"
runenv = "==1.0.1"
zappa = "==0.48.2"
flake8 = "==3.7.7"
slackclient = "==2.1.0"
Flask = "==1.0.3"
Flask-Cors = "==3.0.8"

[requires]
python_version = "3.7"
